$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

h2, h1 {
    color: #3C5EE2; }
  
    ul {
      list-style-type: circle;
    }
  
    ul {
      font-weight:bold;
      color: red;
    }
  
    .H {
      color: black;
    }
  
    .T {
      color: green;
    }